body {
  margin-top: 70px;
}



/**********************
/***  Test 1 Styles ***
/**********************/

#test-1-results p {   /* initial setup */
  font-family: serif;
  font-size: 1em;
  line-height: 1.5em;
  text-indent: 1.5em;
  text-align: left;
}
#test-1-results { max-width: 40em }